/*Imports -- Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
#navigation{
	max-width: 100vw;
	min-height: 10vh;
	/*border: 2px solid black;*/
	background-color: #eeebf0;
}

/*#list{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
*/

.items{
	margin: 10px;
	list-style: none;
}

ul li a{
	text-decoration: none;
	background-image: linear-gradient(90deg, red,blue);
	background-repeat: no-repeat;
	background-size: 0% 10%;
	background-position: left bottom;
	transition: background 200ms ease-in-out;
}

ul li a:hover{
	background-size: 100% 10%;
}

li a{
	display: inline-block;
}

h4{
	text-align: left;
	background-image: linear-gradient(90deg, red, blue);
	background-clip: text;
	color: transparent;
	display: inline-block;
	/*border: 2px solid black;*/
	float: left;
	margin: 6px;
	padding: 6px;
	font-size: 1.2rem;
}

a{
	padding: 0px 6px;
	margin-right: 23px;
	/*border: 2px solid black;*/
	float: right;
	/*width: 6rem;*/
	height: 1.6rem;
	font-size: 1.2rem;
	overflow: hidden;
}

main{
	width: 100%;
	height: 50vh;
	/*border: 2px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-div{
	width: 40%;
	height: 60%;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
}

.center-div{
	color: #eeebf0;
	border: 2px solid #272727;
	background-color: #26212E;
	border-radius: 1rem;
}

h2 {
	font-size: 2rem;
}
span{
	font-size: 1.8rem;
}

button{
	width: 20%;
	height: 15vh;
	margin: 6px 40%;
}

#color {
	font-size: 1.2rem;
	color: #eeebf0;
	background-color: #26212E;
	border: 2px solid #272727;
	border-radius: 1rem;
	outline: none;
}

#supriseBtn{
	background-image: linear-gradient(90deg, #a5f9f1,#fe7f9c,#e32636);
	color: #272727;
	font-size: 1rem;
	border: 2px solid #eeebf0;
	border-radius: 1rem;
	outline: none;
}

/*box-shadows*/
#color {
	box-shadow: 0.20em 0.25em 0.5em #272727;
	/*-0.25em 0.25em 0.2em #272727* optional */
}

.center-div{
	box-shadow: 0.20em 0.20em 0.5em #272727;
}

#supriseBtn {
	box-shadow: 0.20em 0.25em 0.5em #272727;
	/*-0.25em 0.25em 0.2em #272727* optional */
}
